apiVersion: v1
kind: ConfigMap
metadata:
  name: flag-service-config
  namespace: togglemaster
data:
  PORT: "8002"
  DATABASE_URL: "postgres://tm_user:tm_pass_26@flag-db.cxbowapyjusr.us-east-1.rds.amazonaws.com:5432/flag_db"
  POSTGRES_USER: "tm_user"
  POSTGRES_DB: "flag_db"
  POSTGRES_HOST: "flag-db.cxbowapyjusr.us-east-1.rds.amazonaws.com"
  AUTH_SERVICE_URL: "http://auth-service:8001"
