apiVersion: v1
kind: ConfigMap
metadata:
  name: auth-service-config
  namespace: togglemaster
data:
  PORT: "8001"
  DATABASE_URL: "postgresql://tm_user:tm_pass_26@auth-db.cxbowapyjusr.us-east-1.rds.amazonaws.com:5432/auth_db"
  POSTGRES_USER: "tm_user"
  POSTGRES_DB: "auth_db"
  POSTGRES_HOST: "auth-db.cxbowapyjusr.us-east-1.rds.amazonaws.com"
