apiVersion: v1
kind: ConfigMap
metadata:
  name: targeting-service-config
  namespace: togglemaster
data:
  PORT: "8003"
  DATABASE_URL: "postgres://tm_user:tm_pass_26@targeting-db.cxbowapyjusr.us-east-1.rds.amazonaws.com:5432/targeting_db"
  POSTGRES_USER: "tm_user"
  POSTGRES_DB: "targeting_db"
  POSTGRES_HOST: "targeting-db.cxbowapyjusr.us-east-1.rds.amazonaws.com"
  AUTH_SERVICE_URL: "http://auth-service:8001"